.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.studio {
    color: #2E2F42;
}

.page-nav {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.page-nav .link {
    color: #2E2F42;
}

.page-nav .link:hover {
    color: #404BBF;
}

.page-nav .link:focus {
    color: #404BBF;
}

.address {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address .link {
    color: #434455;
}

.address .link:focus,
.address .link:hover {
    color: #404bbf;
}

.section-button {
    background-color: #2E2F42;
}

.button-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
    background-color: #404BBF;
}

.activities-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.activities-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sectionb {
    background-color: #F4F4FD;
}

.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-cards {
    background-color: #FFFFFF;
}

.team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.project-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.end-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.end-studio {
    color: #F4F4FD;
}

.para {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}