.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.studio {
    color: #2E2F42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu{
    display: flex;
        align-items: center;
    gap: 24px;
        justify-content: center;
}

.page-nav {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;

}

.page-nav .link {
    color: #2E2F42;
    padding: 24px 0;
    display: inline-block;
}

.page-nav .link:hover {
    color: #404BBF;
}

.page-nav .link:focus {
    color: #404BBF;
}

.contacts {
    display: flex;
    gap: 40px;
}

.address {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address .link {
    color: #434455;
}

.address .link:focus,
.address .link:hover {
    color: #404bbf;
}



.section-button {
    background-color: #2E2F42;
    padding: 188px 0;
}

.button-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    border-radius: 4px;
}

.button:focus {
    background-color: #404BBF;
}

.button:hover {
    background-color: #404BBF;
}

.activities-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.activities-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sectionb {
    background-color: #F4F4FD;
}

.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-cards {
    background-color: #FFFFFF;
}

.team-members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.project-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-paragh {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.end-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.end-studio {
    color: #F4F4FD;
}

.para {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}